LFMSubmissions/LFM.Submissions.Targets/Service References/EdrsSubmissionService/RequestApplicationToChangeRegisterV1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:drs="http://www.oscre.org/ns/eReg-Final/2012/RequestApplicationToChangeRegisterV1_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oscre.org/ns/eReg-Final/2012/RequestApplicationToChangeRegisterV1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestApplicationToChangeRegisterV1_0" type="drs:RequestApplicationToChangeRegisterV1_0Type">
    <xs:key name="ApplicationPriorityUniqueKey">
      <xs:annotation>
        <xs:documentation>This key enforces a not null element of Priority
					which is unique across all child elements of Applications
				</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:Applications/drs:OtherApplication|drs:Product/drs:Applications/drs:ChargeApplication" />
      <xs:field xpath="drs:Priority" />
    </xs:key>
    <xs:key name="SupportingDocumentIdUniqueKey">
      <xs:annotation>
        <xs:documentation>This key enforces a not null element of DocumentId
					which is unique across all SupportingDocument elements
				</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:SupportingDocuments/drs:SupportingDocument" />
      <xs:field xpath="drs:DocumentId" />
    </xs:key>
    <xs:key name="RepresentativeIdUniqueKey">
      <xs:annotation>
        <xs:documentation>This key enforces a not null element of
					RepresentativeId which is unique across all child elements of
					Representations</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:Representations/drs:LodgingConveyancer|drs:Product/drs:Representations/drs:Certified|drs:Product/drs:Representations/drs:IdentityEvidence|drs:Product/drs:Representations/drs:RepresentingConveyancer" />
      <xs:field xpath="drs:RepresentativeId" />
    </xs:key>
    <xs:keyref name="PartyRolePriorityForeignKey" refer="drs:ApplicationPriorityUniqueKey">
      <xs:annotation>
        <xs:documentation>This foreign key enforces that the value of the
					Priority element within all child elements of Roles must match with
					a value present in a child of Applications (appKey primary key)
				</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:Parties/drs:Party/drs:Roles/drs:Role" />
      <xs:field xpath="drs:Priority" />
    </xs:keyref>
    <xs:keyref name="PartyRepresentativeIdForeignKey" refer="drs:RepresentativeIdUniqueKey">
      <xs:annotation>
        <xs:documentation>This foreign key enforces that the value of the
					representativeId attribute within all child elements of Parties
					must match with a value present in a child of Representations
					(repKey primary key)</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:Parties/drs:Party" />
      <xs:field xpath="@representativeId" />
    </xs:keyref>
    <xs:unique name="ApplicationPriorityDocumentIdUnique">
      <xs:annotation>
        <xs:documentation>This unique constraint enforces that Application,
					Charge Application and Supporting Document Priority/DocumentIDs
					must be unique across the Application. For Example Applcation
					Priority 1, 2 and 3 followed by Supporting Documents with Document
					IDs 4,5 and 6.</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="drs:Product/drs:Applications/drs:OtherApplication|drs:Product/drs:Applications/drs:ChargeApplication|drs:Product/drs:SupportingDocuments/drs:SupportingDocument" />
      <xs:field xpath="drs:Priority|drs:DocumentId" />
    </xs:unique>
  </xs:element>
  <xs:complexType name="AdditionalPartyNotificationsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="AdditionalPartyNotification" type="drs:AdditionalPartyNotificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalPartyNotificationType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="drs:NonBlankTextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Address" type="drs:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressForServiceType">
    <xs:annotation>
      <xs:documentation>This element must contain either an Address for
				service option or Address(es) for the Party. If Address(es) are
				supplied there MUST be Postal address and can optionally be up to 2
				more addresses of any type.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="PostalAddress" type="drs:PostalAddressType" />
        <xs:element minOccurs="0" maxOccurs="1" name="AdditionalAddresses" type="drs:AdditionalAddressForServiceType" />
      </xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressForServiceOption" type="drs:AddressForServiceTypeContent" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalAddressForServiceType">
    <xs:choice minOccurs="1" maxOccurs="2">
      <xs:element minOccurs="1" maxOccurs="1" name="PostalAddress" type="drs:PostalAddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="EmailAddress" type="drs:EmailAddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DXAddress" type="drs:DXAddressType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="EmailAddress" type="drs:EmailAddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DXAddress" type="drs:DXAddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="PostalAddress" type="drs:PostalAddressType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ApplicationsType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="OtherApplication" type="drs:OtherApplicationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChargeApplication" type="drs:ChargeApplicationType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ApplicationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:positiveInteger" />
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="FeeInPence" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="0" maxOccurs="1" name="Document" type="drs:DocumentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherApplicationType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:ApplicationType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type" type="drs:ApplicationTypeContent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CareOfAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CareOfName" type="drs:NonBlankTextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CareOfReference" type="drs:NonBlankTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargeApplicationType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:ApplicationType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ChargeDate" type="xs:date" />
          <xs:choice>
            <xs:element minOccurs="1" maxOccurs="1" name="MDRef" type="drs:NonBlankTextType" />
            <xs:element minOccurs="1" maxOccurs="1" name="NoMDRef" type="drs:NoMDRefType" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="SortCode" type="drs:NonBlankTextType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompanyType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CompanyName" type="drs:NonBlankTextType" />
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyRegistrationNumber" type="drs:NonBlankTextType" />
        <xs:element minOccurs="1" maxOccurs="1" name="UK-LLPRegistrationNumber" type="drs:NonBlankTextType" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="OverseasTerritory" type="drs:NonBlankTextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverseasNumberInTheUnitedKingdom" type="drs:NonBlankTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CertifiedCopy" type="drs:CertifiedTypeContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DXAddressType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="drs:CareOfAddressType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DXNumber" type="drs:NonBlankTextType" />
          <xs:element minOccurs="1" maxOccurs="1" name="DXExchange" type="drs:NonBlankTextType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmailAddressType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Email" type="drs:NonBlankTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LodgingConveyancerType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:RepresentativeType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NoMDRefType" />
  <xs:complexType name="CertifiedType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:RepresentativeType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartiesType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Party" type="drs:PartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentityEvidenceType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:RepresentativeType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyRolesType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Role" type="drs:PartyRoleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyRoleType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RoleType" type="drs:RoleTypeContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IsApplicant" type="xs:boolean" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="Company" type="drs:CompanyType" />
        <xs:element minOccurs="1" maxOccurs="1" name="Person" type="drs:PersonType" />
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" name="Roles" type="drs:PartyRolesType">
        <xs:unique name="PartyRoleUnique">
          <xs:annotation>
            <xs:documentation>This unique constraint enforces that the values
							of the Priority and RoleType elements are unique. This ensures
							that a Party can only have a particular role within an
							Application once.</xs:documentation>
          </xs:annotation>
          <xs:selector xpath="drs:Role" />
          <xs:field xpath="drs:Priority" />
          <xs:field xpath="drs:RoleType" />
        </xs:unique>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressForService" type="drs:AddressForServiceType" />
    </xs:sequence>
    <xs:attribute name="representativeId" type="xs:positiveInteger" use="optional" />
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Forenames" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Surname" type="drs:NonBlankTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="drs:CareOfAddressType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AddressLine1" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="City" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="County" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="drs:NonBlankTextType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Postcode" type="drs:NonBlankTextType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation />
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="1" name="Reference" type="drs:ReferenceTypeContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalFeeInPence" type="xs:nonNegativeInteger" />
      <xs:element minOccurs="1" maxOccurs="1" name="Email" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TelephoneNumber" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AP1WarningUnderstood" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="ApplicationDate" type="xs:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisclosableOveridingInterests" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostcodeOfProperty" type="drs:NonBlankTextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocalAuthority" type="drs:NonBlankTextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Titles" type="drs:TitlesType">
        <xs:unique name="TitleNumberUnique">
          <xs:annotation>
            <xs:documentation>This unique constraint enforces that the value
							of the Title elements must be unique</xs:documentation>
          </xs:annotation>
          <xs:selector xpath="drs:TitleNumber" />
          <xs:field xpath="." />
        </xs:unique>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Applications" type="drs:ApplicationsType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SupportingDocuments" type="drs:SupportingDocumentsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Representations" type="drs:RepresentationsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Parties" type="drs:PartiesType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AdditionalPartyNotifications" type="drs:AdditionalPartyNotificationsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepresentationsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LodgingConveyancer" type="drs:LodgingConveyancerType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepresentingConveyancer" type="drs:RepresentingConveyancerType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Certified" type="drs:CertifiedType" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentityEvidence" type="drs:IdentityEvidenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepresentativeType">
    <xs:sequence>
      <xs:element name="RepresentativeId" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepresentingConveyancerType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:RepresentativeType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ConveyancerName" type="drs:NonBlankTextType" />
          <xs:element minOccurs="1" maxOccurs="1" name="Reference" type="drs:NonBlankTextType" />
          <xs:choice>
            <xs:element minOccurs="1" maxOccurs="1" name="DXAddress" type="drs:DXAddressType" />
            <xs:element minOccurs="1" maxOccurs="1" name="PostalAddress" type="drs:PostalAddressType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestApplicationToChangeRegisterV1_0Type">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageId" type="drs:MessageIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="drs:ReferenceTypeContent" />
      <xs:element minOccurs="1" maxOccurs="1" name="Product" type="drs:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupportingDocumentsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="SupportingDocument" type="drs:SupportingDocumentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupportingDocumentType">
    <xs:complexContent mixed="false">
      <xs:extension base="drs:DocumentType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentId" type="xs:positiveInteger" />
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentName" type="drs:DocumentNameContent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TitlesType">
    <xs:annotation>
      <xs:documentation>The Titles element must have at least 1 Title
				element and may have up to 20 Title elements
				</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="20">
      <xs:element minOccurs="1" maxOccurs="1" name="TitleNumber" type="drs:TitleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddressForServiceTypeContent">
    <xs:annotation>
      <xs:documentation>This type defines the valid string values for an
				Application type.
				These are described as follows:
				A1 = Address of the
				property (A1 register)
				B1 = Current B1 Address (B1 register)
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A1" />
      <xs:enumeration value="B1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ApplicationTypeContent">
    <xs:annotation>
      <xs:documentation>This type defines the valid string values for an
				Application type.
				These are described as follows:

				AN1 = Agreed Notice
				AP1 = Alteration of Register
				APT = Appointment of New Trustee
				AS1 =
				Assent
				AS2 = Assent of Charge
				CAG = Cancellation of Notice
				(Not
				Unilateral)
				CCD = Cancellation of Caution
				CH2 = Obligation to
				make
				Further Advances (CH2)
				CH3 = Note Agreed Maximum Amount of
				Security
				(CH3)
				CN = Change of Name
				CNL = Cancellation of Noted Lease
				COA =
				Change of Address
				DIS =
				Discharge
				DJP = Death of Joint Proprietor
				DSP =
				Death of Sole
				Proprietor
				EX1 = Exempt Information Document (EX1)
				EX3 =
				Remove Exempt
				Information Document (EX3)
				HR1 = Notice of Home Rights
				(HR1)
				NOE =
				Noting of Easement
				NOL = Noting of Lease
				PC = Postponement
				of Charge
				RC = Entry of Restrictive Covenant
				RFN = Rectification of
				Register
				ROCA = Release of Covenants - Agreed Notice
				ROCC = Release of
				Covenants - Cancellation
				ROCU = Release of Covenants - Unilateral
				Notice
				ROE = Release of Easements
				RX1 = Restriction (Standard)
				RX2 =
				Restriction (Non Standard)
				RX3 = Cancel a Restriction
				RX4 = Withdraw a
				Restriction
				SBC = Sub Charge
				SEV = Severance of Joint Tenancy
				SL =
				Surrender of Lease
				TNV = Transfer not for Value
				TR1 = Transfer
				TR2 =
				Transfer Under Power of Sale
				TR4 = Transfer of Charge
				TRM = Transfer
				by Operation of Law (On Death)
				TSC = Transfer Subject to a Charge
				UN1
				= Unilateral Notice
				UN2 = Remove Unilateral Notice (UN2)
				UN3 =
				Register Beneficiary of Unilateral Notice (UN3)
				UN4 = Cancellation of
				a Unilateral Notice (UN4)
				UT1 = Upgrade Title (UT1)
				VC = Variation of
				Charge
				VLAN = Variation of Lease - Agreed Notice
				VLAP = Variation of
				Lease
				VLUN = Variation of Lease - Unilateral Notice
				VOCA = Variation
				of Covenants - Agreed Notice
				VOCU = Variation of Covenants -
				Unilateral Notice
				VOE = Variation of Easements
				VOEA = Variation of
				Easements - Agreed Notice
				VOEU = Variation of Easements - Unilateral
				Notice
				WCT = Withdraw a Caution			

				</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AN1" />
      <xs:enumeration value="AP1" />
      <xs:enumeration value="APT" />
      <xs:enumeration value="AS1" />
      <xs:enumeration value="AS2" />
      <xs:enumeration value="CAG" />
      <xs:enumeration value="CCD" />
      <xs:enumeration value="CH2" />
      <xs:enumeration value="CH3" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CNL" />
      <xs:enumeration value="COA" />
      <xs:enumeration value="DIS" />
      <xs:enumeration value="DJP" />
      <xs:enumeration value="DSP" />
      <xs:enumeration value="EX1" />
      <xs:enumeration value="EX3" />
      <xs:enumeration value="HR1" />
      <xs:enumeration value="NOE" />
      <xs:enumeration value="NOL" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="RC" />
      <xs:enumeration value="RFN" />
      <xs:enumeration value="ROCA" />
      <xs:enumeration value="ROCC" />
      <xs:enumeration value="ROCU" />
      <xs:enumeration value="ROE" />
      <xs:enumeration value="RX1" />
      <xs:enumeration value="RX2" />
      <xs:enumeration value="RX3" />
      <xs:enumeration value="RX4" />
      <xs:enumeration value="SBC" />
      <xs:enumeration value="SEV" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="TNV" />
      <xs:enumeration value="TR1" />
      <xs:enumeration value="TR2" />
      <xs:enumeration value="TR4" />
      <xs:enumeration value="TRM" />
      <xs:enumeration value="TSC" />
      <xs:enumeration value="UN1" />
      <xs:enumeration value="UN2" />
      <xs:enumeration value="UN3" />
      <xs:enumeration value="UN4" />
      <xs:enumeration value="UT1" />
      <xs:enumeration value="VC" />
      <xs:enumeration value="VLAN" />
      <xs:enumeration value="VLAP" />
      <xs:enumeration value="VLUN" />
      <xs:enumeration value="VOCA" />
      <xs:enumeration value="VOCU" />
      <xs:enumeration value="VOE" />
      <xs:enumeration value="VOEA" />
      <xs:enumeration value="VOEU" />
      <xs:enumeration value="WCT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CertifiedTypeContent">
    <xs:annotation>
      <xs:documentation>This type defines the valid string values for a
				Certified Copy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original" />
      <xs:enumeration value="Certified" />
      <xs:enumeration value="Scanned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentNameContent">
    <xs:annotation>
      <xs:documentation>This type defines the valid string values for a
				Supporting Document Name</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Abstract" />
      <xs:enumeration value="Agreement" />
      <xs:enumeration value="Assignment" />
      <xs:enumeration value="Conveyance" />
      <xs:enumeration value="Correspondence" />
      <xs:enumeration value="Court Order" />
      <xs:enumeration value="Deed" />
      <xs:enumeration value="Form DI" />
      <xs:enumeration value="Document List" />
      <xs:enumeration value="Evidence" />
      <xs:enumeration value="EX1A" />
      <xs:enumeration value="Identity Evidence" />
      <xs:enumeration value="Identity Form" />
      <xs:enumeration value="Indenture" />
      <xs:enumeration value="Lease" />
      <xs:enumeration value="Licence" />
      <xs:enumeration value="LR Correspondence" />
      <xs:enumeration value="Power of Attorney" />
      <xs:enumeration value="Stamp Duty Land Tax" />
      <xs:enumeration value="Statement Of Truth" />
      <xs:enumeration value="Statutory Declaration" />
      <xs:enumeration value="Witness Statement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="50" />
      <xs:pattern value="[a-zA-Z0-9][a-zA-Z0-9\-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonBlankTextType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:pattern value=".*\S.*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReferenceTypeContent">
    <xs:annotation>
      <xs:documentation>This type defines the validation pattern for
				Application Reference</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
      <xs:pattern value=".*\S.*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RoleTypeContent">
    <xs:annotation>
      <xs:documentation>This type defines the valid string values for a
				Role type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Borrower" />
      <xs:enumeration value="Lender" />
      <xs:enumeration value="PersonalRepresentative" />
      <xs:enumeration value="Proprietor" />
      <xs:enumeration value="ThirdParty" />
      <xs:enumeration value="Transferee" />
      <xs:enumeration value="Transferor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TitleType">
    <xs:annotation>
      <xs:documentation>This type defines the validation pattern for title
				numbers</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
      <xs:pattern value="[A-Z]{0,3}[0-9]{1,6}[ZT]?" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>