LFMSubmissions/LFM.Submissions.Targets/Service References/EdrsAttachmentService/ResponseAttachmentV1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.oscre.org/ns/eReg-Final/2012/ResponseAttachmentV1_0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.oscre.org/ns/eReg-Final/2012/ResponseAttachmentV1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AttachmentResponseV1_0" type="AttachmentResponseV1_0Type" />
  <xs:complexType name="AttachmentResponseV1_0Type">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GatewayResponse" type="GatewayResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GatewayResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="ProductResponseCodeContentType">
        <xs:annotation>
          <xs:documentation>A character string (letters, figures or symbols)
						that for brevity and/or language independence may be used to
						represent or replace a definitive value or text of an Attribute
						together with relevant supplementary information.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Acknowledgement" type="AcknowledgementType">
        <xs:annotation>
          <xs:documentation>This is the Business Gateways
						confirmation
						response to the External System.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Rejection" type="RejectionType">
        <xs:annotation>
          <xs:documentation>This is the Business Gateways
						rejection response
						to the External System.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Results" type="ResultsType">
        <xs:annotation>
          <xs:documentation>This is the Business Gateways
						result response to
						the External System.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcknowledgementType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UniqueID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique identifier used by end user to get the
						status update of their request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageDescription" type="xs:string">
        <xs:annotation>
          <xs:documentation>This will be a String type element and will be
						use to display a message to end user. This element should be
						marked as mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExpectedResponseDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>This element will hold expected time when
						Business Gateway will try to process the queued request. This
						element will contain date and time data as GMT format. This
						element should be marked as mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RejectionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a particular
						request, order or instruction in the system of the organisation
						allocating it with the ability to associate the name of the
						Company that has allocated it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Reason" type="xs:string">
        <xs:annotation>
          <xs:documentation>A description of the reason for rejection.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>A code signifying the reason for rejection
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OtherDescription" type="xs:string">
        <xs:annotation>
          <xs:documentation>Freeform text field to convey any further
						information about the rejection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationErrors" type="ValidationErrorsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a particular
						request, order or instruction in the system of the organisation
						allocating it with the ability to associate the name of the
						Company that has allocated it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageDetails" type="xs:string">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AttachmentID" type="xs:integer">
        <xs:annotation>
          <xs:documentation>The ID of the newly provided document. This will
						be the equivalent of the Priority or Document ID. If you send in a
						completely new document, this will tell you what ID has been
						assigned to it.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProductResponseCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Acknowledgement</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Rejection</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Result</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>